/**-------CONSPECT STYLE----*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*-------END CONSPECT STYLE----*/

/**-------GENERAL STYLES----*/
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}
img{
    display: block;
}
p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol{
    margin-top: 0px;
    margin-bottom: 0;
    padding-left: 0;
}
ul li {
    list-style-type: none;
}
/*-------END GENERAL STYLES----*/

.conteiner{
    /*
    width: 100%;
    max-width: 1128px;
    */
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px
}

/**--- HEADER ---*/
.header{
    border-bottom: 1px solid #e7e9fc;
   /*height: 71px;*/
}
.head-cont{
    display: flex;
    justify-content: space-between;
}
.nav-menu{
    display: flex;
    align-items: center;
}
.nav-menu .logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #4D5AE5;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em; 
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 76px;
}
.logo .logo-span {
    color: #2E2F42;
}
.nav-menu .navigation{
    display: flex;
    gap: 40px;
}
.navigation .list-in-navigation{
    padding: 24px 0;
}

.navigation .button-menu {
    text-decoration: none;
    color: #2E2F42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 16px;   
}
.button-menu:hover, .button-menu:focus {
    color: #404BBF;
}
.address {
    font-style: normal
}
.address .list-in-adr{
    display: flex;
    gap: 40px;
}
.address .elm-list-in-adr{
    padding: 24px 0;
}
.address-link {
    text-decoration: none;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
}
.address-link:hover, .address-link:focus{
    color: #404BBF;
}

/*---END HEADER ---*/


.first-section {
    background-color: #2e2f42;
}
.title {
    color: #ffffff;
    text-align: center;
    line-height: 1.07;
    font-size: 56px;
    letter-spacing: 0.02em;
    
}
.first-section-button {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.first-section-button:hover, .first-section-button:focus {
    background-color: #404BBF;

}

.second-section-title{
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
    color: #2e2f42;
}
.section-two-h-tree{
    font-weight: 500;
    line-height: 1.2;
    color: #2e2f42;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.second-section-text{
    line-height: 1.5;
    letter-spacing: 0.02em;


}

.third-section-title{
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;

}
.section-tree-li{
    background-color: #FFFFFF;
}
.third-section-caption{
    font-weight: 500;
    line-height: 1.2;
    color: #2e2f42;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.third-section-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.fourth-sec-caption{
    line-height: 1.2;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.fourth-sec-text{
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
}
.third-section{
    background-color: #F4F4FD;
}
.section-tree-h-two {
    text-align: center;
    text-transform: capitalize;
    color:#2e2f42;
}
.footer {
    background-color:#2e2f42;
}
.footer-text {
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
}
.logo-span-footer {
    color: #f4f4fd;

}
